@import "./_variables.scss";
@import "./_utilities.scss";
@import "./_loaders.scss";

body {
  overscroll-behavior: none;
}

#app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: var(--bs-page);
  transition: background-color 0.5s ease;
}

main {
  flex-grow: 1;
}

a {
  text-decoration: none;
}

.sidebar-account-img {
  width: 100%;
  anchor-scope: 1/1;
  height: 15vh;
  height: 15dvh;
  border-radius: 50%;
  object-fit: cover;
}

.masonry-contain {
  max-height: 90vh;
  max-height: 90dvh;
  overflow-y: scroll;
}

.masonry-design {
  width: 100%;
  columns: 4 18.75rem;
  column-gap: 1.3em;

  img {
    width: 100%;
    display: block;
    margin-bottom: 1em;
  }
}

@media (width <= 576px) {
  .masonry-design {
    columns: 2 6.25rem;
  }
}
